body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 90%;
    background-color: #f9f9f9;
    color: #333;
    align-content: center;
  }
  
  .header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
    border-bottom: 2px solid #ddd;
  }
  .header h1 {
    font-size: 1.9em;
    margin-bottom: 3px;
  }



  #delete-all {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .delete-all {
    cursor: pointer;
    max-width: 16px;
    max-height: 16px;
    position: absolute;
    object-fit: contain;
  }

  .delete-all-icon:hover {
    opacity: 0.7;
  }
  
  #notes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #parent {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .note {
    position: relative;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-bottom:0px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .note input {
    border: none;
    font-weight: bold;
    font-size: 1.4em;
    background: none;
    outline: none;
  }

  .note:hover{
    background: rgb(244, 244, 244);
  }
  
  .note textarea {
    width: 100%;
    resize: vertical;
    border: none;
    outline: none;
    background: none;
  }

  .note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: #555;
  }
  
  .delete-icon {
    bottom: 5px;
    right: 5px;
    width: 13px;
    cursor: pointer;
  }

  .delete-icon:hover{
    opacity: 0.7;
  }
  
  .create-note {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    background-color: #d4288a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-note:hover {
    background-color: #45a049;
  }

  .note .note-url {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .note-url a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  .note-url a:hover {
    text-decoration: underline;
  }

  .footer {
    bottom: 10px;
  }

  body.dark-mode {
    background-color: #121212;
    color: #f9f9f9;
  }

  .header.dark-mode {
    background-color: #333;
    color: #f9f9f9;
    border-bottom: 2px solid #555;
  }

  .note.dark-mode {
    background: #333;
    color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }



  .note-footer.dark-mode {
    color: #ccc;
    background-color: #333;
  }

  .note-url a.dark-mode {
    color: #bb86fc;
  }

  .dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d4288a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .dark-mode-toggle:hover {
    background-color: #a01d74;
  }